body {
    font-family : sans-serif;
    rotate: 90;
    background-image : url("pictures/background.jpg");
    background-size : 100%;
    background-repeat: repeat;
    color : rgb(255, 255, 255);
}

#header {
    margin-left : 25%
}

#page {
    background-color : rgba(0, 0, 0, 0.35);
    height : 920px;
    margin-left : 20%;
    margin-right : 20%;
}

#about-me {
    float : left;
    width : 45%;
    margin-right : 5%;
    margin-left : 1%;
}

#games {
    float : left;
    width : 45%;
    margin-left : 1%
}

#computer {
    float : left;
    width : 45%;
    margin-right : 5%;
    margin-left : 1%;
}

.icon {
    margin-right : 1%;
}

.footer {
    position: fixed;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 10%;
    color: white;
    text-align: center;
}