body {
    font-family : sans-serif;
    background-image : url("pictures/background.jpg");
    background-size : 100%;
    color : rgb(255, 255, 255);
}

#page {
    background-color : rgba(0, 0, 0, 0.35);
    height : 920px;
    margin-left : 20%;
    margin-right : 20%;
}

#about-us {
    float : left;
    width : 45%;
    margin-right : 5%;
}

#games {
    float : left;
    width : 45%;
    margin-left : 5%
}

.icon {
    margin-right : 1%;
}

.footer {
    position: fixed;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 10%;
    color: white;
    text-align: center;
}

input[type="submit"] {
    cursor: pointer;
}